.product{
}

.product-image img{
}


.product-box{
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn .fas.fa-star {
  color: gold;
}

.btn .far.fa-star {
  color: gray;
}

.btn.active .far.fa-star {
  color: gold;
}