.product{
  display: flex;
  margin-left: 60px;
}

.product-image img{
  margin-top: 50px;
  width: 80%;
}


.product-box{
}

.product-detail{

}

.product-name{
}

.product-price{
font-size: 20px;
}

.favorite-comment{
}

.favorite{
  display: flex;
justify-content: space-around;

}


.custom-button{
  width: 150px;
    height: 50px; 
}
.custom-icon{
font-size: 30px;
}

.favorite-count p{


}
.comment{

}
.btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn .fas.fa-star {
  color: gold;
}

.btn .far.fa-star {
  color: gray;
}

.btn.active .far.fa-star {
  color: gold;
}