.product{
  display: flex;
}

.product-image{
  width: 50%;

}


.product-detail{
  width: 50%;

}



.btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn .fas.fa-star {
  color: gold;
}

.btn .far.fa-star {
  color: gray;
}

.btn.active .far.fa-star {
  color: gold;
}