@media (min-width: 1400px) and (max-width: 1540px) {
  .container .contents {
    position: relative;
  }
  .container .contents div {
    background: #0000;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
  }
  
  /* タブの表示切替関連 */
  .container .contents div {
    opacity: 0;
    z-index: 1;
  }
  .container #tab li:first-child a {
    background: #ffff;
    color: #ff0000;
  }
  .container .contents div:first-child {
    opacity: 1;
    z-index: 2;
  }
  
  .container #tab-sell-products:target .contents .tab-sell-products,
  .container #favorites:target .contents .favorites {
    opacity: 1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    z-index: 2;
  }
  
  .container #tab-sell-products:target .contents div:not([class="tab-sell-products"]),
  .container #favorites:target .contents div:not([class="favorites"]) {
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    z-index: 1;
  }
  .container #tab-sell-products:target #tab li a[href$="tab-sell-products"],
  .container #favorites:target #tab a[href$="favorites"] {
    color: #ff0000;
  }
  
  .container :not([id="tab-sell-products"]):target #tab li a[href$="tab-sell-products"],
  .container :not([id="favorites"]):target #tab li a[href$="favorites"] {
    color: #333;
  }
  
  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
  
  .product-item a{
     color: #000;
     text-align: left;
  }
  /* 配置系 */
  .container{
  }
  
  #tab{
    display: inline-flex;
    margin-top: 50px;
    border-bottom: 2px solid #000;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
  }
  
  .tab-sell-products{
    margin:0 100px;
  }
  .contents{
  }
  
  .product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    padding: 40px;
  
  }
  
  .product-item {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
  }
  
  li{
  }
  
  .product-image {
    width: 100%;
    height: auto;
  }
  
  .product-name {
  }
  
  .recommendations section{
  }
  .recommendations{}
  
  .favorites{}
  }
  
    /* タブレット用のスタイル */
  @media (min-width: 768px) and (max-width: 850px) {
  
  .container .contents {
     position: relative;
  }
  
  .container .contents div {
    background: #0000;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
  }
      
      /* タブの表示切替関連 */
  .container .contents div {
    opacity: 0;
    z-index: 1;
  }
  .container #tab li:first-child a {
    background: #ffff;
    color: #ff0000;
  }
  
  .container .contents div:first-child {
    opacity: 1;
    z-index: 2;
  }
  
  .container #recommendations:target .contents .recommendations,
  .container #favorites:target .contents .favorites {
    opacity: 1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    z-index: 2;
  }
  
  .container #recommendations:target .contents div:not([class="recommendations"]),
  .container #favorites:target .contents div:not([class="favorites"]) {
      opacity: 0;
      -webkit-transition: opacity .5s;
      transition: opacity .5s;
      z-index: 1;
  }
  .container #recommendations:target #tab li a[href$="recommendations"],
  .container #favorites:target #tab a[href$="favorites"] {
      color: #ff0000;
  }
  
  .container :not([id="recommendations"]):target #tab li a[href$="recommendations"],
  .container :not([id="favorites"]):target #tab li a[href$="favorites"] {
    color: #333;
  }
  
  a {
      text-decoration: none;
  }
  li {
      list-style-type: none;
  }
  
  /* 配置系 */
  .container{
      }
  
  #tab{
    display: inline-flex;
    margin-top: 50px;
    border-bottom: 2px solid #000;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
  }
  
  .tab-recommendation{
    margin:0 100px;
  }
  
  .product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    padding: 40px;
  }
  
  .product-item {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .product-image {
      width: 100%;
      height: auto;
  }
  
  .product-name {
  }
      
      .recommendations section{
      }
      .recommendations{}
      
      .favorites{}
      }
      
    }