.container{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.main-title{
  margin: 0 auto;
}

.image-box{
}

.form__group-title{
}

.form__label--item{
}

.item-detail{

}

.title{

}


input[type=checkbox] {
  display: none;
  }

.category-label {
display: flex;
float: left;
font-size: 10px;
margin: 5px;
width: 5%;
height: 30px; /* ボックスの高さを指定する */
color: #ff0000; /* フォントの色を指定 */
text-align: center;
/* line-height: 45px; */
cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
border: 2px solid #ff0000;/* ボックスの境界線を実線で指定する */
border-radius: 30px; /* 角丸を指定する */
}

input[type="checkbox"]:checked + .category-label {
background: #ff0000;
color: #ffffff;
}

.category-label:hover {
background-color: #E2EDF9;
}