@media (min-width: 1400px) and (max-width: 1540px) {
.contents{
  margin-top: 40px;
}
a {
  text-decoration: none;
  margin:0 25px;
  color: #000;
}

ul.tabs a.active{
  color: #FF5555;
  transition: color 1s ease;
}

li {
  list-style-type: none;
}

.tabs{
  display: inline-flex;
  border-bottom: 2px solid #000;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
}

.tabs li{
  margin-left: 50px;
}
.tab-content{
}

.product-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 25px;
}

.product-item{
  display: flex;
  flex-direction: column;
}

.product-image{
  width: 100%;
  height: auto;
}

.product-name{
padding-bottom: 30px;
}
}



  /* タブレット用のスタイル */
@media (min-width: 768px) and (max-width: 850px) {
.contents{
  margin-top: 40px;
}

a {
  text-decoration: none;
  margin:0 25px;
  color: #000;
}

ul.tabs a.active{
  color: #FF5555;
  transition: color 1s ease;
}

li {
  list-style-type: none;
}

.tabs{
  display: inline-flex;
  border-bottom: 2px solid #000;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
}

.tabs li{
  margin-left: 50px;
}

.tab-content{
  }

.product-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5px;
}

.product-item{
  display: flex;
  flex-direction: column;
}

.product-image{
  width: 100%;
  height: auto;
}

.product-name{
  padding-bottom: 30px;
}
}