@media (min-width: 1400px) and (max-width: 1540px) {
.product{
  display: flex;
  margin-left: 60px;
}

.product-image img{
  margin: 150px;
  width: 550px;
  max-width: 100%;
  height: auto;
}

.product-name {
  margin-top: 40px;
}

.product-price{
  font-size: 25px;
}

.favorite-comment {
  display: flex;
  align-items: center;
}

.favorite, .comment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-button {
  width: 100px;
  height: 30px;
  font-size: 10px;
}

.custom-icon {
  font-size: 24px;
}

.favorite-count, .comment p {
  margin-top: 10px;
  font-size: 18px;
}

.buy-button{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #FF5555;
  color: #ffffff;
  font-size: 15px;
}

/* お気に入りボタン */
.btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn .fas.fa-star {
  color: gold;
}

.btn .far.fa-star {
  color: gray;
}

.btn.active .far.fa-star {
  color: gold;
}

.category-header,
.condition-header{
  padding-right:20px;
  padding-bottom:10px ;
}

.confirm-table__condition{
margin-top: 10px;
}

.confirm-table__category {
  padding:0 10px;
  border-radius: 20px;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
  height: 10px;
}

/* コメント */
.comment-count h3{
  color: #A9A9A9;
}

.comment-box{
  margin-bottom: 10px;
}

.comment-box-person{
  display: flex;
  align-items: center;
}

.profile-img{
  width: 60px;
  max-width: 100%;
  height: 60px;
  border-radius: 50%;
  margin-right: 30px;
  border: 1px solid #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form__error{
  height: 20px;
  color: #ff0000;
  text-align: left;
}

.comment-content{
  background-color: #D9D9D9;
  padding: 20px 10px;
}

.comment-submit__button{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #FF5555;
  color: #ffffff;
  font-size: 15px;
margin-bottom: 80px;
}
}


@media (min-width: 768px) and (max-width: 850px) {
.product{
  display: flex;
}

.product-image img{
  margin: 50px;
  width: 300px;
  max-width: 100%;
  height: auto;
}

.product-name {
  margin-top: 40px;
}

.product-price{
  font-size: 25px;
}

.favorite-comment {
  display: flex;
  align-items: center;
}

.favorite, .comment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-button {
  width: 100px;
  height: 30px;
  font-size: 10px;
}

.custom-icon {
  font-size: 24px;
}

.favorite-count, .comment p {
  margin-top: 10px;
  font-size: 18px;
}

.buy-button{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #FF5555;
  color: #ffffff;
  font-size: 15px;
}

  /* お気に入りボタン */
.btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn .fas.fa-star {
  color: gold;
}

.btn .far.fa-star {
  color: gray;
}

.btn.active .far.fa-star {
  color: gold;
}

.category-header,
.condition-header{
  padding-right:20px;
  padding-bottom:10px ;
}

.confirm-table__condition{
  margin-top: 10px;
}

.confirm-table__category {
  padding: 10px;
  border-radius: 20px;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
  height: 10px;
}

.comment-count h3{
  color: #A9A9A9;
}

.comment-box{
  margin-bottom: 10px;
}

.comment-content{
  background-color: #D9D9D9;
  padding: 20px 10px;
}

.comment-submit__button{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #FF5555;
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 80px;
}
}
