
.profile-heading{
  display: flex;
  align-items: center;
  margin: 50px 300px;
}

.profile-img {
  width: 160px;
  max-width: 100%;
  height: 160px;
  border-radius: 50%;
  margin-right: 80px;
  border: 1px solid #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user_name{
  margin-right: 30px;
  border: none;
  font-size: 30px;
}

.img-input {
  display: none;
}

.profile-button {
  padding: 10px 20px;
  font-size: px;
  height: 50%;
  border: 3px solid #FF5555;
  border-radius: 5px;
  color: #FF5555;
  background-color: #ffff;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.profile-button:hover {
  background-color: #FF5555;
  color:#ffff;
}

/* 商品一覧 */
a {
  text-decoration: none;
  margin:0 25px;
  color: #000;
}

ul.tabs a.active{
  color: #FF5555;
  transition: color 1s ease;
}

li {
  list-style-type: none;
}

.tabs{
  display: inline-flex;
  border-bottom: 2px solid #000;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
}

.sell-tab,
.buy-tab{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding:20px;
}

.item-item{
  display: flex;
  flex-direction: column;
}

.item-image{
  width: 100%;
  height: auto;
}

  /* タブレット用のスタイル */
@media (min-width: 768px) and (max-width: 850px) {

.profile-heading{
  display: flex;
  align-items: center;
  margin: 50px;
}

.user_name{
  border: none;
  font-size: 20px;
}

.profile-button {
  padding: 10px 20px;
  font-size: 16px;
  height: 30%;
  border: 3px solid #FF5555;
  border-radius: 5px;
  color: #FF5555;
  background-color: #ffff;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}


.tabs{
  display: inline-flex;
  border-bottom: 2px solid #000;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: bold;
}

}