.container {
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; /* 上に揃える */
}

.product-container {
  width: 65%;
}

.product-title {
  display: flex;
  align-items: flex-start; /* 上に揃える */
}

.product-image {
  width: 60%;
  max-width: 300px;
  margin-bottom: 20px;
}

.name-price {
  margin-left: 40px;
}

.product-name {
  font-size: 1.8em;
  margin: 0;
}

.product-price {
  font-size: 1.5em;
  font-weight: bold;
}

.product-detail {
  border-top: 2px solid #9F9F9F;
  border-bottom: 2px solid #9F9F9F;
  margin: 30px 0;
  width: 100%;
  padding: 20px;
}

/* h2{
  display: inline;
  font-size: 1.3em;
  width: 20%;
} */

.payment-select, .deliver-select {
  margin-bottom: 20px;
}

.deliver-title{
  display: flex;
  justify-content: space-between;
  align-items:center ;
}
#payment_method{
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 2px solid #9F9F9F;
  width: 40%;
  margin-left: 40px;
  margin-bottom: 40px
}

.deliver-select{
}

a {
  color: #007BFF;
  text-decoration: none;
  font-size: 1.1rem;
}

a:hover {
  text-decoration: underline;
}

p{
  font-size: 1.1rem;
}
.order-box {
  padding: 20px;
  width: 30%;
  border: 2px solid #9F9F9F;
  margin-top: 20px;
}

.price-box,
.deliver-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.deliver-box{
  border-top: 2px solid #9F9F9F;
}

.delivery-way{
  font-size: 1.3em;
  padding: 10px;
}


/* スマートフォン対応 */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* スマホでは縦並びに変更 */
    align-items: center;
  }

  .product-container {
    width: 100%; /* 幅を100%に設定 */
  }

  .price-box {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
  }
}
